* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Delcaração de variáveis CSS (Custom Properties) */
:root {
    /*Cores da Landing Page*/
    --cor-primaria: #004ac6;
    --cor-animacao-hover: #003ea8;
    --cor-fundo: #f8f9ff;
    --cor-branca: #ffffff;
    --cor-fundo-secundaria: #eff4ff;
    --cor-texto: #0b1c30;
    --cor-text-suave: #434655;
    --cor-borda: #c3c6d7;


    /* Tipografia */
    --fonte-principal: 'Inter';

    /* Espaçamentos - Medida: rem -> melhor para responsividade, respeita a configuraçãp do usuário */
    --espaco-xs: 0.5rem; /* 8px */
    --espaco-sn: 1rem;    /* 16px */
    --espaco-md: 1.5rem;  /* 24px */
    --espaco-lg: 2rem;    /* 32px */
    --espaco-xl: 3rem;   /* 48px */
    --espaco-xxl: 6rem;   /* 96px */

    /* Bordas arredondadas */
    --raio-sn: 0.5rem;
    --raio-md: 0.75rem;
    --raio-lg: 1rem;

}

body {
    font-family: var(--fonte-principal);
    background-color: var (--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

.navbar {
    /* Fixa o menu no topo da página */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*Posicionamento dos intens em camada FRENTE - SOBREPOSTO*/
    z-index: 99999;
    background-color: var(--cor-fundo);
    opacity: 0.85;
    /* Efeito de vidro opaco */
    backdrop-filter: blur(12px);
    border-bottom: solid 1px var(--cor-borda);
}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    /* Cenraliza o elemento horizontamelte */ 
    margin: 0 auto;
    padding: var(--espaco-md) var(--espaco-lg);

}

.navbar-logo {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--cor-primaria);
    text-decoration: none;
    letter-spacing: -0.03rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: var(--espaco-lg);
}

.navbar-links a {
    text-decoration: none;
    color: var(--cor-text-suave);
    font-size: 0.9375rem;
    font-weight: 550;
}

.navbar-links a:hover {
    color: var(--cor-primaria);
}

.navbar-botoes {
    display: flex;
    align-items: center;
    gap: var(--espaco-sn);
}

.navbar-button {
    background-color: var(--cor-primaria);
    border: none;
    color: var(--cor-branca);
    font-size: 0,9375rem;
    font-weight: 700;
    padding: 0.8rem 1.25rem;
    border-radius: var(--raio-md);
    cursor: pointer;
    transition: all 0.15s ease;
}

.navbar-button:hover {
    background-color: var(--cor-animacao-hover);
    transform: scale(1.05);
}

.navbar-login-link {
    text-decoration: none;
    color: var(--cor-text-suave);
    font-weight: 550;
    font-size: 0.9375rem;
}

.navbar-login-link:hover {
    color: var(--cor-animacao-hover);
}

.hero {
    /* VH - Viewport height = ALTURA TOTAL DA JANELA */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--espaco-lg) var(--espaco-xl);
}

.hero-label {
    display: inline-block;
    /* background-color: #0049c656; */
    background-color: color-mix(in srgb, var(--cor-primaria) 20%, transparent);
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
    padding: 0.375rem 1rem;
    border-radius: var(--raio-lg);
    margin-bottom: var(--espaco-lg);
}

.hero-titulo {
    /* Clamp - (mínimo, ideal, máximo) significa:width: 
    - Nunca menor que o "Mínimo" em telas pequenas
    - Tamanho "Ideal" em telas médias
    - Nunca maior que o "Máximo" em telas grandes
    */
    font-size: clamp(2.5rem, 5.7rem, 4.5rem);
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03rem;
    color: var(--cor-texto);
    max-width: 56rem;
    text-align: center;
    margin-bottom: var(--espaco-md);
}

.hero-titulo span {
    color: var(--cor-primaria);
}

.hero-subtitulo {
    font-size: clamp(1rem, 1.875rem, 1.25rem);
    color: var(--cor-text-suave);
    max-width: 42rem;
    line-height: 1.7;
    margin-bottom: var(--espaco-xl);
    text-align: center;
}

.hero-botoes {
    display: flex;
    gap: var(--espaco-sn);
}

.btn-funcionalidades {
    background-color: var(--cor-primaria);
    border: none;
    color: var(--cor-branca);
    font-size: 1.07rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: var(--raio-md);
    cursor: pointer;
    transition: all 0.15s ease;
}

.btn-funcionalidades:hover {
    background-color: var(--cor-animacao-hover);
    transform: scale(1.05);

}

.btn-saiba-mais {
    background-color: var(--cor-branca);
    border: none;
    outline: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    font-size: 1.07rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: var(--raio-md);
    cursor: pointer;
    transition: all 0.15s ease;
}

.btn-saiba-mais:hover {
    transform: scale(1.05);
}



